.Profilname {
    color: blueviolet;
}

.img {
    display: flex;
    width: 1000px;
    margin: 0 100px;
    justify-content: space-between;
}

.ajengshaleha {
    width: 100px;
}

.doraemonqu {
    display: flex;
    justify-content: space-evenly;
}

.tulis {
    width: 1000px;
    margin: 0 100px;
}